<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<link href="static/css/jjj.css" rel="stylesheet" type="text/css">
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link href="static/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">

		<!-- 可选的Bootstrap主题文件（一般不使用） -->
		<script src="static/bootstrap-3.3.2-dist/css/bootstrap-theme.min.css"></script>

		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="static/js/jquery.min.js"></script>

		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="static/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
		<title>Wicwin.com</title>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="col-md-12">
					<div class="row">

						<div class="row">
							<div class="col-xs-11">
								<img src="/static/img/logo_b_50.png">
							</div>
							<div class="col-xs-1 hidden-md hidden-lg">
								<img src="/static/img/icon-menu-black.png">
							</div>

						</div>

					</div>
					<div class="row-fluid visible-md visible-lg">
						<div class="col-12">
							<div>
								<a class="menuA" href="static/contact_us.html">Home</a>
								<a class="menuA" href="static/contact_us.html">Conatact us</a>
								<a class="menuA" href="static/contact_us.html">Case</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row-fluid">
				<div class="col-md-6">
					<img src="{{.ja.Imgurl}}" class="img-responsive">
					<h2>{{.ja.Title}}</h2>
				</div>
				<div class="col-md-6">
					<p>
						{{.ja.Text}}
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-6">
						{{if .preview}}
							<p>o---{{.preview.Title}}</p>
							{{else}}
							{{end}}
						</div>
						<div class="col-xs-6">
						{{if .next}}
							<p class="text-right">{{.next.Title}}---o</p>
							{{else}}
							{{end}}
						</div>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="col-xs-12" style="background-color:#222222;">
					<div class="row">
						<div class="col-xs-2 col-xs-offset-10" style="padding-top: 12px;padding-bottom: 15px;">
							<img src="/static/img/logoew26.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

