<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<link href="static/css/headnav.css" rel="stylesheet" type="text/css">
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link href="static/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">

		<!-- 可选的Bootstrap主题文件（一般不使用） -->
	
		<link href="static/css/jjj.css" rel="stylesheet" type="text/css">
		<link href="static/css/top.css" rel="stylesheet" type="text/css">

		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="static/js/jquery.min.js"></script>

		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="static/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
		<title>智信创赢</title>
	</head>
	<body onload="resizefun()">
		<nav class="navbar">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="row">
					<div class="col-xs-12 navbar-header navbar-default" style="background-color: #ffffff">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-div">
							<span class="sr-only">Menu</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="/" ><img src="static/img/logo_b_50.png" class="logoimg" style="float: left;padding-right:30px;"></a>
						
					<div class="collapse navbar-collapse" id="navbar-collapse-div" style="float: right;position: relative;">
					<div id="navmenu" style="padding-left:50px">
						<a class="menuA" href="/viewlistcg?cg=pdt">信息系统集成</a>
						<a class="menuA" href="/viewlistcg?cg=edu">教育咨询服务</a>
						<a class="menuA" href="/viewlistcg?cg=job">招聘猎头服务</a>
						<a class="menuA" href="/static/partner.html">合作伙伴</a>
						<a class="menuA" href="/tel">联系我们</a>
					</div>
				</div><!-- /.navbar-collapse -->
					</div>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->

			</div><!-- /.container-fluid -->
		</nav>

		
<script src="static/js/jquery-1.11.2.js"></script>
<script src="static/js/top.js"></script>

		<div class="container-fluid" style="padding: 0;background-color: black;">
			
			{{range $key, $ja := .jas}}
			<div class="row-fluid">
				<div class="col-xs-12" style="padding:0;">
					<img id="topcontainer" class="img-responsive" style="width:100%" src="{{$ja.Imgurl}}">
					<div id="topcontenttitle" class="visible-xs-block" style="padding:30px;font-size: 48px;width:100%;color: #ffffff;position: absolute;top: 0;">
						{{$ja.Title}}
					</div>
					<div id="topcontent" class="hidden-xs" style="padding:30px 50px 30px 50px;color: #ffffff;position: absolute;top: 0;">
						<div id="toptitle">
							{{$ja.Title}}
						</div>
						<div id="toptext">
							{{str2html $ja.Text}}
						</div>
					</div>

					<div class="visible-xs-block" style="color: #ffffff;top:-25px;position: relative;">

						<div style="width:100%;height:25px;">
							<img src="static/img/tanbg.png" style="width: 100%;height: 25px;">
						</div>
						<div style="background-color: #000000;padding-left:25px;padding-right:25px;">

							<div>
								{{str2html $ja.Text}}
							</div>
						</div>
					</div>
				</div>
			</div>
			{{end}}



		</div>

		<div class="container-fluid" style="padding: 0;margin: 0">
			<div class="row-fluid">
				<div class="col-xs-12" style="background-color:#222222;">
					<div class="row">
						<div class="col-xs-12" style="padding-top: 12px;padding-bottom: 15px;">
							<img src="static/img/logoew26.png" style="display: block;float: right;">
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>

