		<nav class="navbar">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="row">
					<div class="col-xs-12 navbar-header navbar-default" style="background-color: #ffffff">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-div">
							<span class="sr-only">Menu</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="/" ><img src="static/img/logo_b_50.png" class="logoimg" style="float: left;padding-right:30px;"></a>
						
					<div class="collapse navbar-collapse" id="navbar-collapse-div" style="float: right;position: relative;">
					<div id="navmenu" style="padding-left:50px">
						<a class="menuA" href="/viewlistcg?cg=pdt">产品与解决方案</a>
						<a class="menuA" href="/viewlistcg?cg=edu">IT教育培训服务</a>
						<a class="menuA" href="/viewlistcg?cg=job">招聘猎头服务</a>
						<a class="menuA" href="/viewlistcg?cg=news">新闻中心</a>
						<a class="menuA" href="/static/partner.html">合作伙伴</a>
						<a class="menuA" href="/static/contact_us.html">联系我们</a>
					</div>
				</div><!-- /.navbar-collapse -->
					</div>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->

			</div><!-- /.container-fluid -->
		</nav>