<script src="../static/js/user.js"></script>
<h1 class="page-header">用户列表</h1>
<bottom class="btn btn-primary" data-toggle="modal" data-target="#addUserModal" data-placement="bottom">添加用户</bottom>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>用户名</th>
				<th>昵称</th>
				<th>描述</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{{range $key, $ju := .jus}}
			<tr>
				<td>{{$ju.Id}}</td>
				<td id="name{{$ju.Id}}">{{$ju.Name}}</td>
				<td id="nickname{{$ju.Id}}">{{$ju.NickName}}</td>
				
				<td id="des{{$ju.Id}}">{{$ju.Description}}</td>
				<td>
				<input type="button" value="修改密码" onclick="pwd('{{$ju.Id}}')"/>
				<input type="button" value="编辑" onclick="edituser('{{$ju.Id}}')"/>
				<input type="button" value="删除" onclick="deluser('{{$ju.Id}}')"/>
				</td>
			</tr>
			{{end}}
		</tbody>
	</table>
</div>
		<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="addArtModalLabel">添加用户</h4>
					</div>

					<div class="modal-body">
						<div class="row">
							<div class="col-xs-12">
								<div>
									用户名：
									<input id="username" type="text" />
									<br>
									密码：<input id="password" type="text" />
									<br>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div class="alert alert-warning" id="warningalert" role="alert" style="display: none;">
									...
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							关闭
						</button>
						<input style="display:none;" id="artId"/>
						<button type="button" class="btn btn-primary" onclick="adduser()">
							保存文章
						</button>
					</div>
				</div>
			</div>
			<script>
				function adduser() {
	ju = {
		username : $("#username").val(),
		password : $("#password").val(),
	};
		$.post("/signup", ju, userCheckReturn);
}
function userCheckReturn(result) {
	if (result != "OK") {
		$("#warningalert").html(result);
		$("#warningalert").show();
	} else {
			$.get("/user/list", function(result) {
		$("#contdiv").html(result);
	});
		$("#addUserModal").modal('hide');
	}
}
			</script>
		</div>
		