.image-text-content-block {

}
.image-text-margin-block {
	margin: 0 auto;
}
.inner-content {
	width: 90% !important;
	margin: 0 auto !important;
	max-width: 1360px;
}
.text-under-image-block {
	width: 57%;
	float: left;
	padding-top: 3.5%;
}
.text-under-content-block {
	padding-top: 7%;
	width: 28%;
	float: left;
	margin-left: 5.2%;
	padding-bottom: 40px;
}
.text-under-content {

}
.main-heading-part {
	font-size: 18px;
}
