body {
	margin: 0;
	padding: 0px;
	height: 100%;
	width: 100%;
	font-family: 'SYHT', 'Microsoft Yahei', '微软雅黑', Arial, Helvetica, sans-serif;
}
html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	height: 100%;
}
a {
	text-decoration: none;
}
#imgdiv {
	width: 100%;
	background-image: url(../img/bg_min.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#headdiv {

}
#briefdiv {
	padding-left: 50px;
	padding-bottom: 30px;
	font-family: 'SYHT', 'Microsoft Yahei', '微软雅黑', Arial, Helvetica, sans-serif;
	color: rgb(250, 250, 250);
	width: 50%;
}

#textdiv {
	font-size: 24px;
}

#contdiv {
	clear: both;
	height: 240px;
	position: relative;
}
#floater {
	float: left;
	height: 50%;
	margin-bottom: -120px;
}
#Sbriefdiv {
	font-family: 'SYHT', 'Microsoft Yahei', '微软雅黑', Arial, Helvetica, sans-serif;
	color: rgb(250, 250, 250);
}
#Stitlediv {

}
#Stxtdiv {
	color: rgb(250, 250, 250);
}
#Stextdiv {
	width: 100%;
	position: relative;
	top: -25px;
	font-size: 22px;
}
#Stxtdiv {
	background-color: #000000;
}
#headdiv {

}
#menudiv {
	position: relative;
	font-size: 18px;
	padding-bottom: 10px;
}
#logodiv {
	padding-top: 10px;
	padding-bottom: 10px;
}
.menuA {
	display: inline-block;
	margin-right: 50px;
}
.menuA:link {
	color: #000000;
	font-weight: bold;
}
.Smenu {
	background-color: #FF7F00;
	color: #ffffff;
	margin-top: 1px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}
