body {
	margin: 0;
	padding: 0px;
	height: 100%;
	width: 100%;
}
html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	height: 100%;
}

#imgdiv {
	width: 100%;
	background-image: url(../img/bg_min.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#headdiv {
	height: 100px;
}
#briefdiv {
	padding-left: 50px;
	padding-bottom: 30px;
	font-family: SYHT, 'Microsoft Yahei', 微软雅黑, Arial, Helvetica, sans-serif;
	color: rgb(250, 250, 250);
	width: 50%;
}

#textdiv {
	font-size: 24px;
}

#contdiv {
	clear: both;
	height: 240px;
	position: relative;
}
#floater {
	float: left;
	height: 50%;
	margin-bottom: -120px;
}
#Sbriefdiv {
	font-family: SYHT, 'Microsoft Yahei', 微软雅黑, Arial, Helvetica, sans-serif;
	color: rgb(250, 250, 250);
}
#Stitlediv {

}
#Stxtdiv {
	font-family: SYHT, 'Microsoft Yahei', 微软雅黑, Arial, Helvetica, sans-serif;
	color: rgb(250, 250, 250);
}
#Stextdiv {
	width: 100%;
	position: relative;
	top:-25px
}
#Stxtdiv {
	background-color: #000000;
}
